<!DOCTYPE html>
<html ng-app>
    <head>
        <title>@ViewBag.Title</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
      @*  @Url.CombresLink("baseCss")*@
      
      @*  @Url.CombresLink("siteCss")*@
  
        @*  @Url.CombresLink("framework")*@
        
        
        
        <script src="~/Content/libs/jquery-1.10.2/jquery-1.10.2.min.js"></script>
        <script src="~/Content/libs/angularJS/angular.js"></script>
        @RenderSection("head", false)
       
    </head>

<body @RenderSection("body-attr", false)>
    @RenderBody()


    <!--[if lte IE 8]>
            <script src="~/content/libs/excanvas.min.js"></script>
        <![endif]-->
    @RenderSection("foot", false)
</body>
</html>


